<%-include('layouts/header.ejs')%>
<section id="page">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>My name is Logesh. I will teach you the follwing courses</h2>
                <% if(courses.length > 0) { %>
                    <ul>
                    <% courses.forEach((course) => { %>
                        <li><%=course%></li>
                    <% }) %>
                    </ul>
                <% } else { %> 
                    <p class="lead">No courses available</p>
                <% } %>   
                
            </div>
        </div>
    </div>
</section>
<%-include('layouts/footer.ejs')%>