
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Node.js Template Engines</h1>
        <a class="btn btn-lg btn-light" href="#about">This is Handlebars</a>
    </div>
</header>    
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Courses</h2>
                <ul>
                {{#if courseExists}}   
                    {{#each courses}}
                        <li>{{this}}</li>
                    {{/each}}
                {{else}}
                    <p class="lead">No courses available</p>
                {{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>

